src/main/mule/cicd-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="cicd-pipelineFlow" doc:id="9ce5facc-5b36-4436-95a0-b9f01026ff8b" >
		<http:listener doc:name="Listener" doc:id="d4ccb823-bb8f-4261-82ca-b1863400ed0a" config-ref="HTTP_Listener_config" path="cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="c371aa8b-30cd-4416-87f7-d8ae937eb8df" message='#["Flow startred"]'/>
		<ee:transform doc:name="Transform Message" doc:id="e20ad32d-1ffb-4ab0-a256-a4cc3e6f7121" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello Nisanth" ++ " " ++"How are you"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="615072ea-5520-4cd2-9ec8-710c155698ad" message='#["flow ended succesfully"]'/>
	</flow>
</mule>
